.main {
  color: #ddd;
  background-color: #314152;
  min-height: 100vh;
  width: 100%;
}

.profile {
  padding: 50px;
  display: flex;
  flex-direction: row;
  background-color: #314152;
}

.profile_pic {
  background-color: #314152;
}

.side1 {
  width: 30%;
  padding: 50px;
  background-color: #314152;
}
.side2 {
  padding: 50px;
  width: 50%;
}

.root {
  max-width: 345;
}
.media {
  background-color: #314152;
  height: 100%;
  width: 100%;
  padding: 20px;
}
